# API Configuration
# Ajuste a porta conforme o backend local
API_URL=http://localhost:3000

# Ajuste a URL conforme a porta/local do frontend em desenvolvimento
NEXT_PUBLIC_SITE_URL=http://localhost:3001
